<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="search-btn">
                <form class="form-inline row" [formGroup]="searchForm">
                    <div class="form-group col-md-8">
                        <label for="search-field" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="search-field" placeholder="Search"
                               formControlName="searchElement">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info float-right" (click)="searchRepo()">Search</button>
                    </div>
                </form>
            </li>
        </ol>
        <!-- Card -->
        <div class="card mb-3" *ngIf="searchResult.length > 0;else noItems">
            <div class="row">
                <div class="col-4 pr-0">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a *ngFor="let item of searchResult"
                           class="list-group-item list-group-item-action"
                           id="list-home-list" data-toggle="list" href="#{{item.id}}"
                           role="tab" aria-controls="home" (click)="addData(item)">
                            {{item.id}}/{{item.full_name}}</a>
                    </div>
                </div>
                <div class="col-8 pl-0">
                    <div class="tab-content" id="nav-tabContent" *ngIf="detailsData.id > 0;else noSelected">
                        <div class="tab-pane fade show active"
                             id="{{detailsData.id}}" role="tabpanel"
                             aria-labelledby="list-home-list">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <img src="{{detailsData.owner.avatar_url}}"
                                         alt="" class="img-fluid img-thumbnail" style="width: 20%;">
                                    <h5 class="pl-5 mb-0">{{detailsData.full_name}}</h5>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6>Url: </h6>
                                    <p class="pl-5 mb-0">{{detailsData.url}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6>Description: </h6>
                                    <p class="pl-5 mb-0">{{detailsData.description}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Forks count
                                    <span class="badge badge-primary badge-pill">{{detailsData.forks_count}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Stargazers count
                                    <span class="badge badge-primary badge-pill">{{detailsData.stargazers_count}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Open issues count
                                    <span class="badge badge-primary badge-pill">{{detailsData.open_issues_count}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Available issues
                                    <a [routerLink]="['/issue/', detailsData.full_name]" class="btn btn-info">Show
                                        issues</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Show fork, issues, stargazers charts
                                    <button class="btn btn-info" (click)="showChart(detailsData)">Show chart</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ng-template #noSelected>
                        <h4 class="text-center mt-5">No selected item.</h4>
                    </ng-template>
                    <div *ngIf="visibleChart" [chart]="chart"></div>
                </div>
            </div>
        </div>
        <ng-template #noItems>
            <h4 class="text-center mt-5">I am looking for...</h4>
        </ng-template>
    </div>
</div>